.contacts {
	padding: 150px 0 50px;
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__img {
		}
}
.form {
	background-color: #fff;
	width: 664px;
	padding: 75px 42px 65px;
		&__title {
			font-family: var(--font-family-yeseva);
			margin-bottom: 60px;
			font-size: 40px;
		}
		&__input {
			background-color: #fff;
			border: none;
			border-bottom: 1px solid #000;
			width: 100%;
			display: block;
			margin-bottom: 14px;
			padding: 7px 10px;
			color: #000;
		}
		&__input::placeholder{
			color: #b3b3b3;
			font-size: 14px;
			font-weight: 400;
			font-style: normal;
			font-family: var(--font-family-comfortaa);
		}
		&__btn {
			margin-top: 36px;
			padding: 17px 34px;
			font-weight: 400;
			font-size: 14px; 
			color: #272727;
		}
}