@media (max-width: 1000px) {
  body {
    font-size: 14px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main {
    .top {
      &__content {
        width: 333px;
        padding: 95px 0 70px;
      }
      &__img {
        top: 80px;
        left: 300px;
        &-l {
          width: 655px;
        }
      }
      &__text {
        margin-bottom: 30px;
      }
    }
    .about {
      &__content {
        min-width: 300px;
      }
      &__list {
        padding-left: 20px;
      }
    }
		.products {
			&__content {
				gap: 67px;
			}
		}
  }
	.section__inner {
		grid-template-columns: 290px auto;
		gap: 0 10px;
	}
	.section__text {
		font-size: 10px;
	}
}

@media (max-width: 900px) {
  .footer {
    &__inner {
      flex-wrap: wrap;
    }
    &__contacts {
      width: 100%;
      text-align: center;
      padding-top: 15px;
    }
    &__social {
      justify-content: center;
    }
  }
	.main {
		.products {
			&__content {
				gap: 30px 16px;
			}
		}
	}
	.section__inner {
		grid-template-columns: 200px auto;
		gap: 0 10px;
	}
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .container {
    max-width: 640px;
  }

  .phone {
    &::before {
      width: 14px;
      height: 14px;
      left: -16px;
      top: 0px;
    }
  }

  .main {
    .top {
      &__content {
        width: 230px;
      }
      &__title {
        font-size: 20px;
        margin-bottom: 20px;
      }
      &__text {
        margin-bottom: 20px;
      }
      &__img {
        left: 180px;
      }
    }
    .about {
      &__content {
        min-width: 200px;
      }
      &__title {
        margin-bottom: 20px;
      }
      &__text {
        font-size: 10px;
      }
      .title {
        font-size: 40px;
				margin-bottom: 15px;
      }
      &__list {
        margin-left: 27px;
        margin-bottom: 33px;
        gap: 0 10px;
      }
      &__item {
        &-img {
          margin-bottom: 6px;
          &--s {
            width: 120px;
          }
          &--m {
            width: 150px;
          }
        }
        &-text {
          font-size: 6px;
        }
      }
    }
		.products {
			.title {
				font-size: 15px;
			}
			&__item {
				width: 200px;
				&-img {
					width: 200px;
					margin-bottom: 6px;
				}
				&-price {
					font-size: 12px;
					margin-bottom: 7px;
				}
				&-title {
					font-size: 12px;
					margin-bottom: 9px;
				}
				&-text {
					font-size: 8px;
					margin-bottom: 18px;
				}
			}
			.button {
				font-size: 12px;
				padding: 10px 26px;
			}
		}
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header {
    &__menu {
      order: 1;
    }
    &__menu-list {
      width: 153px;
      background-color: var(--color-brown);
      color: var(--color-pink);
      flex-direction: column;
      gap: 20px 0;
      padding: 25px 35px 25px 45px;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-110%);
      transition: transform 0.5s ease !important;
      z-index: 5;
    }
    &__menu-list.menu--open {
      transform: translateY(0%);
    }
  }
  .menu {
    &__btn {
      display: flex;
    }
  }
	.section__inner {
		display: block;
	}
	.section__descr {
		margin-bottom: 30px;
		text-align: center;
	}
}

@media (max-width: 500px) {
  .footer__inner {
    flex-direction: column;
  }
  .footer {
    padding: 50px 0;
    font-size: 14px;
    &__menu {
      margin-top: 50px;
      margin-bottom: 35px;
      text-align: center;
    }
    &__menu-list {
      flex-direction: column;
    }
  }
}

@media (max-width: 480px) {
  .main {
    .top {
      padding: 30px 0 100px;
      &__content {
        width: 180px;
      }
      &__title {
        font-size: 15px;
        margin-bottom: 15px;
      }
      &__text {
        font-size: 8px;
        margin-bottom: 15px;
      }
      &__img {
        left: 167px;
        &-l {
          width: 309px;
        }
      }
      &__buy {
        font-size: 10px;
        padding: 14px 41px;
      }
    }
    .about {
			margin-bottom: 50px;
      &__inner {
        align-items: flex-end;
      }
      &__content {
        min-width: 170px;
      }
      &__list {
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 10px;
        gap: 0 5px;
        align-items: flex-end;
      }
      &__item {
        &-text {
          display: none;
        }
        &-img {
          &--s {
            width: 80px;
          }
          &--m {
            width: 140px;
          }
        }
      }
    }
		.section {
			padding-bottom: 50px;
			&__content {
				&-descr {
					padding-bottom: 62px;
				}
			}
			&__descr {
				margin: 0 auto 30px;
				width: 300px;
			}
		}
  }
}

@media (max-width: 360px) {
  body {
    font-size: 8px;
  }
  .title {
    margin-bottom: 10px;
  }
  .main {
    .top {
      &__content {
        width: 200px;
        padding: 20px 0 0;
      }
      &__title {
        font-size: 18px;
      }
      &__text {
        position: relative;
        z-index: 1;
        font-size: 10px;
      }
      &__img {
        right: 0;
        top: 0;
        &-l {
          width: 185px;
        }
      }
    }
    .about {
      padding-top: 25px;
      padding-bottom: 10px;
      &__content {
        min-width: 233px;
      }
      &__list {
        padding-left: 12px;
        padding-bottom: 30px;
        margin-left: 12px;
        margin-bottom: 10px;
        gap: 0 15px;
      }
      &__text {
        font-size: 8px;
      }
      &__item {
        &-img {
          &--m {
            display: none;
          }
        }
      }
    }
		.products {
			&__content {
				gap: 40px 7px;
			}
			&__item {
				width: 150px;
				&-img	{
					width: 150px;
				}
				&-price {
					font-size: 10px;
					margin-bottom: 5px;
				}
				&-title {
					font-size: 10px;
					margin-bottom: 7px;
				}
				&-text {
					margin-bottom: 12px;
				}
			}
			.button {
				font-size: 8px;
			}
		}
		.section {
			padding-bottom: 50px;
			&__content {
				&-descr {
					padding-bottom: 32px;
				}
			}
			&__descr {
				margin: 0 auto 25px;
				width: 235px;
			}
		}
  }
}
