:root {
  --color-pink: #fff8f3;
  --color-gray: #fafafa;
  --color-dark: #000000;
  --color-beige: #bea495;
  --color-yellow: #ffbd59;
  --color-brown: #7b6152;
  --color-beige-alt: #a5978e;

  --font-family-yeseva: "Yeseva One", serif;
  --font-family-comfortaa: "Comfortaa", serif;
}
